<!DOCTYPE html>
<html>
	<head>
		<title>Image Bubble</title>
			<link href="/images/logo.ico" rel="shortcut icon">
		  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.js"></script>
			<script type="text/javascript" src="/javascripts/sketch.js"></script>
			<style type="text/css">
				.navbar {
			      margin-bottom: 0;
			      border-radius: 0;
			    }
				h3 {
					font-family: "Comic Sans MS";
					color: #fff;
				}
				#defaultCanvas0 {
					margin: 0 20%;
					padding: 15px;
					border-radius: 5px;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
					cursor: pointer;
				}

			</style>
	</head>

	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li class="active"><h3>Bubble Effects</h3></li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<div class="container-fluid text-center">
			<hr>
			<div class="row">
				<div class="col-sm-12"></div>
			</div>
		</div>
	</body>
</html>
    	